<h2>Ship Person/Cosigner</h2>
<div [formGroup]="shipperCosigneeGroup">
  <div class="row">
    <div class="form-group form-inline">
      <label for="shipper">Ship Person</label>
      <input class="form-control" formControlName="shipper" id="shipper" name="shipper" type="text">
      <button class="btn btn-default" type="button">...</button>
    </div>
  </div>
  <div class="row">
    <div class="form-group form-inline">
      <label for="cosignee">Cosigner</label>
      <input class="form-control" formControlName="cosignee" id="cosignee" name="cosignee" type="text">
      <button class="btn btn-default" type="button">...</button>
    </div>
  </div>
</div>
