<h2>Comm</h2>
<div [formGroup]="commodityGroup">
  <div class="row">
    <div class="form-group form-inline">
      <label for="commodityName">Name of Comm</label>
      <input class="form-control" id="commodityName" name="commodityName" type="text" formControlName="commodityName">
      <button class="btn btn-default" type="button">...</button>
    </div>
  </div>
  <div class="row">
    <div class="form-group form-inline">
      <label for="stcc">SSTTC</label>
      <input class="form-control mdInput" id="stcc" name="stcc" type="text" formControlName="stcc">
      <label for="unna">Unavailable</label>
      <input class="form-control smInput" id="unna" name="unna" type="text" formControlName="unna">
    </div>
  </div>
</div>
