<h2>Stat</h2>
<div [formGroup]="stationGroup">
  <div class="row">
    <div class="form-group form-inline">
      <label for="origin">Original St/City/Rd</label>
      <input class="form-control xsInput" id="originRoad" name="originRoad" type="text" formControlName="originRoad">
      <input class="form-control" id="originCity" name="originCity" type="text" formControlName="originCity">
      <input class="form-control xsInput" id="originStreet" name="originStreet" type="text" formControlName="originStreet">
      <button class="btn btn-default" type="button">...</button>
    </div>
  </div>
  <div class="row">
    <div class="form-group form-inline">
      <label for="destination">Dest St/City/Rd</label>
      <input class="form-control xsInput" id="destinationRoad" name="destinationRoad" type="text" formControlName="destinationRoad">
      <input class="form-control" id="destinationCity" name="destinationCity" type="text" formControName="destinationCity">
      <input class="form-control xsInput" id="destinationStreet" name="destinationStreet" type="text" formControlName="destinationStreet">
      <button class="btn btn-default" type="button">...</button>
    </div>
  </div>
</div>
