<div class="container">
  <button class="btn btn-default" type="button" (click)="onClose()">Close</button>
  <button class="btn btn-default" type="button" (click)="onAssociateCar()">Associate Car</button>
  <button class="btn btn-default" type="button" (click)="onViewWaybill()">View Waybill</button>
  <button class="btn btn-default" type="button" (click)="onViewME()">View ME</button>
  <button class="btn btn-default" type="button" (click)="onViewMES()">View MES</button>
  <button class="btn btn-default" type="button" (click)="onViewEDI()">View EDI</button>
  <button class="btn btn-default" type="button" (click)="onSearch()">Search</button>
  <button class="btn btn-default" type="button" (click)="onClear()">Clear</button>
  <button class="btn btn-default" type="button" (click)="onPrintScreen()">Print Screen</button>
  <button class="btn btn-default" type="button" (click)="onHelp()">Help</button>
</div>
