<h2>Lading Bill</h2>
<div [formGroup]="billLadingGroup">
  <div class="row">
    <div class="form-group form-inline">
      <label for="shipperId">ID of Ship</label>
      <input class="form-control" formControlName="shipperId" id="shipperId" name="shipperId" type="text">
    </div>
  </div>
  <div class="row">
    <div class="form-group form-inline">
      <label for="billLadingNumber">Num of Bill</label>
      <input class="form-control" formControlName="billLadingNumber" id="billLadingNumber" name="billLadingNumber" type="text">
    </div>
  </div>
</div>
